.header {
  align-items: center;
  background-color: #1976d2;
  color: white;
  display: flex;
  font-weight: 600;
  height: 100px;
}

.row {
  width: 100%;
}

.col-6 .options-menu{
  display: flex;
  justify-content: flex-end;
}

.menu-items{
  font-weight: normal;
}

.menu-items:hover{
  font-weight: bolder;
}
